<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %>
  <br>
  <%= f.label :course %>
  <%= f.text_field :course %>
  <br>
  <%= f.label :cooktime %>
  <%= f.text_field :cooktime %>
  <br>
  <%= f.label :"serving size" %>
  <%= f.text_field :servingsize %>
  <br>
  <%= f.label :instructions %>
  <%= f.text_area :instructions, :cols => 40, :rows => 10 %>
  <br>
  Ingredients:
  <ul>
    <%=f.fields_for :ingredients_measurements do |ingredients_measurements_form| %>
    <li>
        <%= ingredients_measurements_form.label :quantity %>
        <%= ingredients_measurements_form.text_field :quantity %>
    </li>

    <%= ingredients_measurements_form.fields_for :ingredient do |ingredients_form| %>
    <li>
        <%= ingredients_form.label :name %>
        <%= ingredients_form.text_field :name %>

        <%= ingredients_form.label :brand %>
        <%= ingredients_form.text_field :brand%>

    <% end %>
    <% end %>
  </ul>
  <p><p>
  <%= f.submit  class: "btn btn-primary" %>
<% end %>