<ul class="nav nav-pills">
  <li>
    <%= link_to('New Recipe', new_recipe_path) %>
  </li>
</ul>


<% @recipes.each do |recipe| %>
  <div class="row">
     <div class="col-md-4 col-sm-4">
      <p class="lead"><%= link_to(recipe.name, recipe) %>
      <p><%= recipe.course %>
      <p><%= recipe.cooktime %>
      <p><%= recipe.servingsize %>
      <p><%= recipe.instructions %>
<!--        TODO: Add code to display ingredients!å  -->
      <% recipe.ingredients.each do |ingredient|%>
      <div class="row">
          <p><%= ingredient.name %>
          <p><%= ingredient.brand %>
        <% end %>
      </div>

      
    </div>
  </div>
<% end %>
